@model PlacementsProject.Models.ViewModels.LineItemViewModel
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>LineItem @Html.DisplayFor(model => model.Id)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CampaignId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CampaignId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CampaignName)
        </dt>
        <dd>
            <a asp-controller="Campaigns" asp-action="Details" asp-route-id="@Model.CampaignId">@Html.DisplayFor(model => model.CampaignName)</a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BookedAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookedAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdjustedAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdjustedAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActualAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActualAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Reviewed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Reviewed)
        </dd>
        <dt>
            Campaign Reviewed
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CampaignReviewed)
        </dd>
    </dl>
</div>
<div>
    @if (Model.Reviewed || Model.CampaignReviewed)
    {
        <a class="btn btn-primary disabled">Mark as Reviewed</a>
    }
    else
    {
        <form asp-action="MarkAsReviewed">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Mark as Reviewed" class="btn btn-primary"/>
            </div>
        </form>
    }
    </div>
<div>
    <h4>Adjustments</h4>
    <table class="table">
        <thead>
        <tr>
            <th>
                Time
            </th>
            <th>
                Amount
            </th>
            <th>
                User
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var adjustment in Model.Adjustments)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => adjustment.DateTime)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => adjustment.AdjustmentAmount)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => adjustment.UserEmail)
                </th>
            </tr>
        }
        </tbody>
    </table>
    @if (Model.Reviewed || Model.CampaignReviewed)
    {
        <a class="btn btn-primary disabled">Add an Adjustment</a>
    }
    else
    {
        <a class="btn btn-primary" asp-controller="Adjustments" asp-action="Create" asp-route-id="@Model.Id">Add an Adjustment</a>
    }

</div>
<div>
    <h4>Comments</h4>
    <table class="table">
        <thead>
        <tr>
            <th>
                Time
            </th>
            <th>
                User
            </th>
            <th>
                Text
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var comment in Model.Comments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => comment.ModifiedDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => comment.UserEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => comment.Text)
                </td>
                <td>
                    @if (ViewData["UserId"].Equals(comment.UserId))
                    {
                        <a asp-controller="Comments" asp-action="Edit" asp-route-id="@comment.Id">Edit</a> 
                        <a asp-controller="Comments" asp-action="Delete" asp-route-id="@comment.Id">Delete</a>
                    }

                </td>
            </tr>
        }
        </tbody>
    </table>
    @if (Model.Reviewed || Model.CampaignReviewed)
    {
        <a class="btn btn-primary disabled">Add a Comment</a>
    }
    else
    {
        <a class="btn btn-primary" asp-controller="Comments" asp-action="Create" asp-route-id="@Model.Id">Add a Comment</a>
    }

</div>
<div>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
