@using Microsoft.CodeAnalysis.CSharp.Syntax
@model PaginatedList<PlacementsProject.Models.LineItem>

@{
    ViewData["Title"] = "Line Items";
}

<h2>Line Items</h2>

<form asp-action="Index" method="get">
    <p>
        Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
        <input type="submit" value="Search" class="btn btn-default" /> |
        <a asp-action="Index">Back to Full List</a>
    </p>
</form>

<table class="table">
    <thead>
    <tr>
        <th>
            Id 
            <a asp-action="Index" asp-route-sortOrder="LineItemIdAsc"><i class="glyphicon glyphicon-triangle-top"></i></a>
            <a asp-action="Index" asp-route-sortOrder="LineItemIdDesc"><i class="glyphicon glyphicon-triangle-bottom"></i></a>
        </th>
        <th>
            Campaign Id
        </th>
        <th>
            Campaign Name
            <a asp-action="Index" asp-route-sortOrder="CampaignNameAsc"><i class="glyphicon glyphicon-triangle-top"></i></a>
            <a asp-action="Index" asp-route-sortOrder="CampaignNameDesc"><i class="glyphicon glyphicon-triangle-bottom"></i></a>
        </th>
        <th>
            Booked Amount
            <a asp-action="Index" asp-route-sortOrder="BookedAmountAsc"><i class="glyphicon glyphicon-triangle-top"></i></a>
            <a asp-action="Index" asp-route-sortOrder="BookedAmountDesc"><i class="glyphicon glyphicon-triangle-bottom"></i></a>
        </th>
        <th>
            Adjusted Amount
            <a asp-action="Index" asp-route-sortOrder="AdjustedAmountAsc"><i class="glyphicon glyphicon-triangle-top"></i></a>
            <a asp-action="Index" asp-route-sortOrder="AdjustedAmountDesc"><i class="glyphicon glyphicon-triangle-bottom"></i></a>
        </th>
        <th>
            Actual Amount
            <a asp-action="Index" asp-route-sortOrder="ActualAmountAsc"><i class="glyphicon glyphicon-triangle-top"></i></a>
            <a asp-action="Index" asp-route-sortOrder="ActualAmountDesc"><i class="glyphicon glyphicon-triangle-bottom"></i></a>
        </th>
        <th>
            Reviewed
            <a asp-action="Index" asp-route-sortOrder="ReviewedAsc"><i class="glyphicon glyphicon-triangle-top"></i></a>
            <a asp-action="Index" asp-route-sortOrder="ReviewedDesc"><i class="glyphicon glyphicon-triangle-bottom"></i></a>
        </th>
        <th>
            Campaign Reviewed
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Id)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CampaignId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Campaign.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookedAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdjustedAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActualAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reviewed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Campaign.Reviewed)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if (!(item.Reviewed || item.Campaign.Reviewed))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-searchString="@ViewData["CurrentFilter"]"
   asp-route-page="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-searchString="@ViewData["CurrentFilter"]"
   asp-route-page="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>