@model PlacementsProject.Models.ViewModels.CampaignViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Campaign</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Reviewed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Reviewed)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
    @if (!Model.Reviewed)
    {
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    }
</div>
