@model PaginatedList<PlacementsProject.Models.ViewModels.CampaignViewModel>

@{
    ViewData["Title"] = "Line Items";
}

<h2>Campaigns</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Campaign Id
                <a asp-action="Index" asp-route-sortOrder="CampaignIdAsc"><i class="glyphicon glyphicon-triangle-top"></i></a>
                <a asp-action="Index" asp-route-sortOrder="CampaignIdDesc"><i class="glyphicon glyphicon-triangle-bottom"></i></a>
            </th>
            <th>
                Name
                <a asp-action="Index" asp-route-sortOrder="NameAsc"><i class="glyphicon glyphicon-triangle-top"></i></a>
                <a asp-action="Index" asp-route-sortOrder="NameDesc"><i class="glyphicon glyphicon-triangle-bottom"></i></a>
            </th>
            <th>
                Reviewed
                <a asp-action="Index" asp-route-sortOrder="ReviewedAsc"><i class="glyphicon glyphicon-triangle-top"></i></a>
                <a asp-action="Index" asp-route-sortOrder="ReviewedDesc"><i class="glyphicon glyphicon-triangle-bottom"></i></a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reviewed)
                </td>
                <td>
                    @if (!item.Reviewed)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>